<section class="main-layout">

    <header class="full">

        <section class="main-layout">
            <h1 class="logo" routerLink="/">Mr.Bitcon</h1>

            <nav>
                <a class="contact-btn" routerLink="/contact"> Go to your Contacts!</a>
                <button (click)="onOpenModal()">Login/Signup</button>
                <button (click)="onLogout()">Logout</button>

            </nav>
        </section>
    </header>

    <main>
        <login-signup *ngIf="authModal" (close)="onCloseModal()"></login-signup>
        <router-outlet></router-outlet>
    </main>

    <user-msg></user-msg>

</section>