<section class="contact-page">
    <contact-filter></contact-filter>
    <!-- <contact-details *ngIf="selectedContact;else contactList"></contact-details> -->

    <!-- <ng-template #contactList> -->

    <button routerLink="edit">Add new contact</button>
    <contact-list (remove)="onRemoveContact($event)" [contacts]="contacts$ | async"></contact-list>
    <!-- </ng-template> -->

    <router-outlet></router-outlet>
</section>

<!-- (selectedContact)="onSelectContact($event)" -->

<!-- [contactId]="selectedContact" -->