.contact-page {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(129, 196, 188);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #ada8a8;

    header {
        text-align: center;
        font-weight: bold;
    }
}